/* /Pages/PlayScreen.Razor.rz.scp.css */
#BingoCard[b-wtrxhdz6k8] {
    padding: 0 0.7rem 0.7rem 0.7rem;
    border-radius: 0.9rem;
    max-width: 13cm;
    min-width: 5cm;
    font-size: clamp(1rem, 9vw, 1.3cm);
    margin-left: auto;
    margin-right: auto;
}

    #BingoCard.green[b-wtrxhdz6k8] {
        background-color: var(--card-green);
    }
    #BingoCard.blue[b-wtrxhdz6k8] {
        background-color: var(--card-blue);
    }
    #BingoCard.red[b-wtrxhdz6k8] {
        background-color: var(--card-red);
    }
    #BingoCard.orange[b-wtrxhdz6k8] {
        background-color: var(--card-orange);
    }
    #BingoCard.yellow[b-wtrxhdz6k8] {
        background-color: var(--card-yellow);
    }
    #BingoCard.black[b-wtrxhdz6k8] {
        background-color: var(--card-black);
    }

    #BingoCard table[b-wtrxhdz6k8] {
        width: 100%;
    }

    #BingoCard td[b-wtrxhdz6k8] {
        border: 2px solid black;
        width: 20%;
        text-align: center;
        font-weight: bold;
        background-color: white;
        color: black;
        padding: 0;
        overflow: hidden;
    }

        #BingoCard td button.square[b-wtrxhdz6k8] {
            /*
            display: grid;
            grid-template-columns: 1fr;
            */
            padding: 0;
            aspect-ratio: 1/1;
            background-color: transparent;
            border: none;
            width: 100%;
            vertical-align: bottom;
            min-height: 2cm;
        }
        /*
            #BingoCard td button.square div {
                grid-row-start: 1;
                grid-column-start: 1;
            }
        */
    #BingoCard thead td[b-wtrxhdz6k8] {
        font-size: clamp(1rem,11vw, 1.5cm);
        font-weight: 900;
        padding: 0;
        border-style: none;
        background-color: transparent;
        color: white;
    }

    #BingoCard tbody tr:first-child td[b-wtrxhdz6k8] {
        border-top-style: none;
    }

    #BingoCard tbody tr:last-child td[b-wtrxhdz6k8] {
        border-bottom-style: none;
    }

    #BingoCard tbody td:first-child[b-wtrxhdz6k8] {
        border-left-style: none;
    }

    #BingoCard tbody td:last-child[b-wtrxhdz6k8] {
        border-right-style: none;
    }

.stamp[b-wtrxhdz6k8] {
    font-family: var(--app-emoji);
    z-index: 1;
    font-size: 1.2em;
    background-color: white;
    height: 100%;
    vertical-align: text-bottom;
}

#PlayerControls[b-wtrxhdz6k8] {
    max-width: 13cm;
    min-width: 5cm;
    margin-left: auto;
    margin-right: auto;
}

.called[b-wtrxhdz6k8] {
    background-color: yellow;
}

#CallerCard[b-wtrxhdz6k8] {
    width: 100%;
}

    #CallerCard td[b-wtrxhdz6k8] {
        border: 3px solid black;
        width: 20%;
        text-align: center;
        font-weight: bold;
    }

#settingsDialog[b-wtrxhdz6k8] {
    max-width: 13cm;
}
/* Backdrop is only displayed when dialog is opened with dialog.showModal() */
dialog[b-wtrxhdz6k8]::backdrop {
    background: rgba(105, 105, 105, 0.25);
    color: dimgray;
}
/* /Shared/Flashboard.razor.rz.scp.css */
#flashboard[b-1j6imljcde] {
    border-style: solid;
    border-color: black;
    border-radius: 0.3rem;
    background-color: black;
    max-width: 13cm;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
}

#flashboard table[b-1j6imljcde] {
    width: 100%;
}

    #flashboard td[b-1j6imljcde] {
        font-weight: bold;
        background-color: black;
        color: white;
        text-align: center;
        padding-left: 1px;
        padding-right: 1px;
        border-color: #400000;
        border-width: 1px;
    }

    #flashboard td:first-child[b-1j6imljcde] {
        border-style: none;
        text-align: center;
        background-color: white;
        color: red;
        padding-left: 2px;
        padding-right: 2px;
    }

    #flashboard tr:first-child td[b-1j6imljcde] {
        border-top-style: none;
    }

    #flashboard tr:last-child td[b-1j6imljcde] {
        border-bottom-style: none;
    }

    #flashboard td:last-child[b-1j6imljcde] {
        border-right-style: none;
    }

#flashboard td .lastCalled[b-1j6imljcde] {
    visibility: visible;
    color: yellow;
}
