/* /Pages/HostScreen.razor.rz.scp.css */
.called[b-mqhqwdu2qi] {
    background-color: yellow;
}

#CallerCard[b-mqhqwdu2qi] {
    width: 100%;
}

    #CallerCard td[b-mqhqwdu2qi] {
        border: 3px solid black;
        width: 20%;
        text-align: center;
        font-weight: bold;
    }
/* /Pages/PlayScreen.Razor.rz.scp.css */
#BingoCard[b-y0f698hn72] {
    padding: 0 0.7rem 0.7rem 0.7rem;
    border-radius: 0.9rem;
    max-width: 13cm;
    min-width: 5cm;
    font-size: clamp(1rem, 9vw, 1.3cm);
    margin-left: auto;
    margin-right: auto;
}

    #BingoCard.green[b-y0f698hn72] {
        background-color: var(--card-green);
    }
    #BingoCard.blue[b-y0f698hn72] {
        background-color: var(--card-blue);
    }
    #BingoCard.red[b-y0f698hn72] {
        background-color: var(--card-red);
    }
    #BingoCard.orange[b-y0f698hn72] {
        background-color: var(--card-orange);
    }
    #BingoCard.yellow[b-y0f698hn72] {
        background-color: var(--card-yellow);
    }
    #BingoCard.black[b-y0f698hn72] {
        background-color: var(--card-black);
    }

    #BingoCard table[b-y0f698hn72] {
        width: 100%;
    }

    #BingoCard td[b-y0f698hn72] {
        border: 2px solid black;
        width: 20%;
        text-align: center;
        font-weight: bold;
        background-color: white;
        color: black;
        padding: 0;
        overflow: hidden;
    }

        #BingoCard td div.square[b-y0f698hn72] {
            display: grid;
            grid-template-columns: 1fr;
            padding: 0;
            aspect-ratio: 1/1;
        }

            #BingoCard td div.square div[b-y0f698hn72] {
                grid-row-start: 1;
                grid-column-start: 1;
            }

                #BingoCard td div.square div:first-child[b-y0f698hn72] {
                    margin-top: 0.5vh;
                }

    #BingoCard thead td[b-y0f698hn72] {
        font-size: clamp(1rem,11vw, 1.5cm);
        font-weight: 900;
        padding: 0;
        border-style: none;
        background-color: transparent;
        color: white;
    }

    #BingoCard tbody tr:first-child td[b-y0f698hn72] {
        border-top-style: none;
    }

    #BingoCard tbody tr:last-child td[b-y0f698hn72] {
        border-bottom-style: none;
    }

    #BingoCard tbody td:first-child[b-y0f698hn72] {
        border-left-style: none;
    }

    #BingoCard tbody td:last-child[b-y0f698hn72] {
        border-right-style: none;
    }

.stamp[b-y0f698hn72] {
    font-family: var(--app-emoji);
    z-index: 1;
    font-size: 1.2em;
    background-color: white;
    margin-top: -0.5vw;
}

#PlayerControls[b-y0f698hn72] {
    max-width: 13cm;
    min-width: 5cm;
    margin-left: auto;
    margin-right: auto;
}
/* /Shared/Flashboard.razor.rz.scp.css */
#flashboard[b-lqaltyyei1] {
    border-style: solid;
    border-color: black;
    border-radius: 0.3rem;
    background-color: black;
    max-width: 13cm;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
}

#flashboard table[b-lqaltyyei1] {
    width: 100%;
}

    #flashboard td[b-lqaltyyei1] {
        font-weight: bold;
        background-color: black;
        color: white;
        text-align: center;
        padding-left: 1px;
        padding-right: 1px;
        border-color: #400000;
        border-width: 1px;
    }

    #flashboard td:first-child[b-lqaltyyei1] {
        border-style: none;
        text-align: center;
        background-color: white;
        color: red;
        padding-left: 2px;
        padding-right: 2px;
    }

    #flashboard tr:first-child td[b-lqaltyyei1] {
        border-top-style: none;
    }

    #flashboard tr:last-child td[b-lqaltyyei1] {
        border-bottom-style: none;
    }

    #flashboard td:last-child[b-lqaltyyei1] {
        border-right-style: none;
    }

#flashboard td .lastCalled[b-lqaltyyei1] {
    visibility: visible;
    color: yellow;
}
