#BingoCard {
    background-color: dodgerblue;
    padding: 0 0.7rem 0.7rem 0.7rem;
    border-radius: 0.9rem;
    max-width: 13cm;
    min-width: 5cm;
    font-size: clamp(1rem, 9vw, 1.3cm);
}

#BingoCard table {
    width: 100%;
}

    #BingoCard td {
        border: 2px solid black;
        width: 20%;
        text-align: center;
        font-weight: bold;
        position: relative;
        background-color: white;
        color: black;
        aspect-ratio: 1/1;
        display: inline-block;
        padding: 0;
        overflow: hidden;
    }

    #BingoCard thead td {
        font-size: clamp(1rem,11vw, 1.5cm);
        font-weight: 900;
        padding: 0;
        border-style: none;
        background-color: dodgerblue;
        color: white;
    }

    #BingoCard tbody tr:first-child td {
        border-top-style: none;
    }
    #BingoCard tbody tr:last-child td {
        border-bottom-style: none;
    }
    #BingoCard tbody td:first-child {
        border-left-style: none;
    }
    #BingoCard tbody td:last-child {
        border-right-style: none;
    }
