#BingoCard {
    width: 100%;
    background-color: dodgerblue;
}

    #BingoCard td {
        border: 3px solid black;
        width: 20%;
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
        padding-bottom: 5%;
        padding-top: 5%;
        position: relative;
        background-color: white;
        color: black;
    }

    #BingoCard thead td {
        font-size: x-large;
        font-weight: 900;
        font-size: 3rem;
        padding: 0;
        border-color: dodgerblue;
        background-color: dodgerblue;
        color: white;
    }
