#BingoCard {
    width: 100%;
}

    #BingoCard td {
        border: 3px solid black;
        width: 20%;
        text-align: center;
        font-weight: bold;
        padding-bottom: 5%;
        padding-top: 5%;
        position: relative;
    }

    #BingoCard thead td {
        font-size: x-large;
        font-weight: 900;
    }

.DefaultStamp {
    background-color: yellow;
}
