<div id="flashboard" class="mb-1">
    <table>
        @for (int r = 0; r < BINGO.Length; r++)
        {
            <tr>
                <td>@BINGO[r]</td>
                @for (int i = 0; i < z; i++)
                {
                    int n = (r * z) + i + 1;
                    <td><span class="@GetCssClass(n)">@n</span></td>
                }
            </tr>
        }
    </table>
</div>

@code {
    private const string BINGO = "BINGO";
    private const int boardSize = 75;
    private int z = boardSize / 5;
    private HashSet<int> calledNumbers = new HashSet<int>();
    private int lastCalled = 0;

    private string GetCssClass(int n)
    {
        if (n == lastCalled) { return "lastCalled"; }
        return calledNumbers.Contains(n) ? "visible" : "invisible";
    }

    public void Add(int val)
    {
        lastCalled = val;
        calledNumbers.Add(val);
        this.StateHasChanged(); // force the UI to refresh
    }

    public void ClearBoard()
    {
        lastCalled = 0;
        calledNumbers.Clear();
        this.StateHasChanged(); // force the UI to refresh
    }
}