#flashboard {
    border-style: solid;
    border-color: black;
    border-radius: 0.3rem;
    background-color: black;
    max-width: 13cm;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
}

#flashboard table {
    width: 100%;
}

    #flashboard td {
        font-weight: bold;
        background-color: black;
        color: white;
        text-align: center;
        padding-left: 1px;
        padding-right: 1px;
        border-color: #400000;
        border-width: 1px;
    }

    #flashboard td:first-child {
        border-style: none;
        text-align: center;
        background-color: white;
        color: red;
        padding-left: 2px;
        padding-right: 2px;
    }

    #flashboard tr:first-child td {
        border-top-style: none;
    }

    #flashboard tr:last-child td {
        border-bottom-style: none;
    }

    #flashboard td:last-child {
        border-right-style: none;
    }

#flashboard td .lastCalled {
    visibility: visible;
    color: yellow;
}