#BingoCard {
    padding: 0 0.7rem 0.7rem 0.7rem;
    border-radius: 0.9rem;
    max-width: 13cm;
    min-width: 5cm;
    font-size: clamp(1rem, 9vw, 1.3cm);
    margin-left: auto;
    margin-right: auto;
}

    #BingoCard.green {
        background-color: var(--card-green);
    }
    #BingoCard.blue {
        background-color: var(--card-blue);
    }
    #BingoCard.red {
        background-color: var(--card-red);
    }
    #BingoCard.orange {
        background-color: var(--card-orange);
    }
    #BingoCard.yellow {
        background-color: var(--card-yellow);
    }
    #BingoCard.black {
        background-color: var(--card-black);
    }

    #BingoCard table {
        width: 100%;
    }

    #BingoCard td {
        border: 2px solid black;
        width: 20%;
        text-align: center;
        font-weight: bold;
        background-color: white;
        color: black;
        padding: 0;
        overflow: hidden;
    }

        #BingoCard td button.square {
            display: grid;
            grid-template-columns: 1fr;
            padding: 0;
            aspect-ratio: 1/1;
            background-color: transparent;
            border: none;
            width: 100%;
        }

            #BingoCard td button.square div {
                grid-row-start: 1;
                grid-column-start: 1;
            }

                #BingoCard td button.square div:first-child {
                    margin-top: 0.5vh;
                }

    #BingoCard thead td {
        font-size: clamp(1rem,11vw, 1.5cm);
        font-weight: 900;
        padding: 0;
        border-style: none;
        background-color: transparent;
        color: white;
    }

    #BingoCard tbody tr:first-child td {
        border-top-style: none;
    }

    #BingoCard tbody tr:last-child td {
        border-bottom-style: none;
    }

    #BingoCard tbody td:first-child {
        border-left-style: none;
    }

    #BingoCard tbody td:last-child {
        border-right-style: none;
    }

.stamp {
    font-family: var(--app-emoji);
    z-index: 1;
    font-size: 1.2em;
    background-color: white;
    margin-top: -0.5vw;
}

#PlayerControls {
    max-width: 13cm;
    min-width: 5cm;
    margin-left: auto;
    margin-right: auto;
}

.called {
    background-color: yellow;
}

#CallerCard {
    width: 100%;
}

    #CallerCard td {
        border: 3px solid black;
        width: 20%;
        text-align: center;
        font-weight: bold;
    }

#settingsDialog {
    max-width: 13cm;
}
/* Backdrop is only displayed when dialog is opened with dialog.showModal() */
dialog::backdrop {
    background: rgba(105, 105, 105, 0.25);
    color: dimgray;
}
