@page "/"
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using BlazorBingo.Components

<PageTitle>BINGO</PageTitle>

<CascadingValue Value="@settings">
    @if (gameMode == GameMode.Initializing)
    {
        <div class="form-group">
            <label>
                Name:
                <input type="text" class="form-control" value="@settings!.PlayerName" @onchange="NameChanged" placeholder="player name" />
            </label>
        </div>

        <div>
            <button @onclick="Host">Host</button>
            <div style="display:none;">
                Game code: <span style="font-family:monospace; font-weight:bold;">@hostCode</span>
            </div>
        </div>

        <div>
            Game code:
            <input type="text" class="form-control" value="@joinCode" placeholder="enter code" />
            <button @onclick="Join">Join</button>
        </div>
    }
    @if (gameMode == GameMode.Playing)
    {<BingoCard></BingoCard>}
    @if (gameMode == GameMode.Calling)
    {<BingoCaller></BingoCaller>}
</CascadingValue>

@code {
    protected Settings settings = new ();

    string hostCode = Utility.GenerateKey(4, Utility.BINGO_KEY_CHARS);
    string joinCode = string.Empty;

    public enum GameMode
    {
        Initializing,
        Starting,
        Joining,
        Waiting,
        Playing,
        Hosting,
        Calling
    }

    protected GameMode gameMode;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            settings.PlayerName = await localStorage.GetItemAsync<string>("playerName");
            settings.GamesPlayed = await localStorage.GetItemAsync<int>("gamesPlayed");
            settings.GamesWon = await localStorage.GetItemAsync<int>("gamesWon");
            gameMode = GameMode.Initializing;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    async Task NameChanged(ChangeEventArgs e)
    {
        settings!.PlayerName = e?.Value?.ToString() ?? string.Empty;
        await localStorage.SetItemAsync("playerName", settings!.PlayerName);
    }
    private void Host()
    {
        gameMode = GameMode.Calling;
    }

    private void Join()
    {
        gameMode = GameMode.Playing;
    }

    }