<div id="flashboard" class="prevent-select mb-1">
    <table>
        @for (int r = 0; r < BINGO.Length; r++)
        {
            <tr>
                <td>@BINGO[r]</td>
                @for (int i = 0; i < z; i++)
                {
                    int n = (r * z) + i + 1;
                    <td><span class="@GetCssClass(n)">@n</span></td>
                }
            </tr>
        }
    </table>
</div>
